{% extends 'users_management/layout.html'%}
{% block content %}
    <div class="mb-4">
        <h2>Easy Cloud Compute</h2>
        <h5 class="mb-1 fw-bold">Sign up</h5>
    </div>
    <form action="" method="POST">
        {{form.hidden_tag()}}
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Username</label>
            {% if form.username.errors %}
                {{form.username(class="form-control is-invalid",id="invalidusername")}}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{form.username(class="form-control",id="username")}}
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Email Id</label>
            {% if form.email.errors %}
                {{form.email(class="form-control is-invalid",id="invalidemail")}}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{form.email(class="form-control",id="email")}}
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Password</label>
            {% if form.password.errors %}
                {{form.password(class="form-control is-invalid",id="invalidpass")}}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{form.password(class="form-control",id="pass")}}
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">AWS AccessKey ID</label>
            {% if form.access_keyid.errors %}
                {{form.access_keyid(class="form-control is-invalid",id="invalid_access_keyid")}}
                <div class="invalid-feedback">
                    {% for error in form.access_keyid.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{form.access_keyid(class="form-control",id="access_keyid")}}
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">AWS SecretKey</label>
            {% if form.secret_keyid.errors %}
                {{form.secret_keyid(class="form-control is-invalid",id="invalid_secret_keyid")}}
                <div class="invalid-feedback">
                    {% for error in form.secret_keyid.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{form.secret_keyid(class="form-control",id="secret_keyid")}}
            {% endif %}
        </div>
        <div class="d-grid">
            {{form.submit(class="btn btn-primary",onclick="registerbtn()",id="register")}}
            <button class="btn btn-warning" type="button" disabled id="email_confirm_btn">
                <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                Sending Email confirmation...
            </button>
        </div>
        <hr class="my-4">
        <span class="small">Already have an account? <a href="{{url_for('users_management.login')}}" class="ms-1 text-decoration-none">Sign in</a></span>
    </form>
    <script>
        // hide email confirmation button
        document.getElementById("email_confirm_btn").style.display = "none";
    </script>
    <script>
      function registerbtn(){
          var username = document.getElementById("username").value;
          var email = document.getElementById("email").value;
          var pass = document.getElementById("pass").value;
          var confirmpass = document.getElementById("confirmpass").value;
          var accesskey = document.getElementById("access_keyid").value;
          var secretkey = document.getElementById("secret_keyid").value;

          if (username.length == 0 || email.length == 0 || pass.length == 0 || confirmpass.length == 0 || accesskey.length == 0 || secretkey.length == 0){
              return false;
          } else {

            document.getElementById("register").style.display = "none";
            document.getElementById("email_confirm_btn").style.display = "block";
          }
      }
    </script>
{% endblock content %}