{% extends 'users_management/layout.html'%}
{% block content %}
    <div class="mb-4">
        <h2>Easy Cloud Compute</h2>
        <h5 class="mb-1 fw-bold">Password Reset</h5>
    </div>
    <form method="POST" action="{{url_for('users_management.reset_password',userid=userid)}}">
        {{form.hidden_tag()}}
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">New Password</label>
            {% if form.new_password.errors %}
                {{form.new_password(class="form-control is-invalid",id="invalidpass")}}
                <div class="invalid-feedback">
                    {% for error in form.new_password.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{form.new_password(class="form-control",id="pass")}}
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Confirm New Password</label>
            {% if form.confirm_new_password.errors %}
                {{form.confirm_new_password(class="form-control is-invalid",id="invalidconfirmpass")}}
                <div class="invalid-feedback">
                    {% for error in form.confirm_new_password.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{form.confirm_new_password(class="form-control",id="confirmpass")}}
            {% endif %}
        </div>
        <div class="d-grid">
            {{form.submit(class="btn btn-primary")}}
        </div>
        <hr class="my-4">
        <span class="small">Already have an account? <a href="{{url_for('users_management.login')}}" class="ms-1 text-decoration-none">Sign in</a></span>
    </form>
{% endblock content %}