{% extends 'home/layout.html' %}
{% block content %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('home.home')}}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{url_for('accesskey.accesskeys')}}">Access Keys</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Access Key</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col">
            <form action="" method="POST" class="mt-4">
                {{form.hidden_tag()}}
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Key name</label>
                    {% if form.keyname.errors %}
                        {{form.keyname(class="form-control is-invalid w-50")}}
                        <div class="invalid-feedback">
                            {% for error in form.keyname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.keyname(class="form-control w-50",id="keyname")}}
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Access Key Id</label>
                    {% if form.access_keyid.errors %}
                        {{form.access_keyid(class="form-control is-invalid w-50")}}
                        <div class="invalid-feedback">
                            {% for error in form.access_keyid.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.access_keyid(class="form-control w-50",id="accesskey")}}
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Secret Key Access</label>
                    {% if form.secret_keyid.errors %}
                        {{form.secret_keyid(class="form-control is-invalid w-50")}}
                        <div class="invalid-feedback">
                            {% for error in form.secret_keyid.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.secret_keyid(class="form-control w-50",id="secretkey")}}
                    {% endif %}
                </div>
                {{form.submit(class="btn btn-primary",id="addkeybtn",onclick="addkeyfunc()")}}
                <button class="btn btn-primary" id="validatebtn" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Validating AccessKey
                </button>
            </form>
        <div class="col"></div>
    </div>
    <script>
        document.getElementById("validatebtn").style.display = "none";
    </script>
    <script>
        function addkeyfunc(){
            var keyname_len = document.getElementById("keyname").value;
            var accesskey_len = document.getElementById("accesskey").value;
            var secretkey_len = document.getElementById("secretkey").value;

            if ( keyname_len == 0 || accesskey_len == 0 || secretkey_len == 0) {
                return false;
            } else {
                document.getElementById("addkeybtn").style.display = "none";
                document.getElementById("validatebtn").style.display = "block";
            }    
        }
    </script>
{% endblock content %}